<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<body>
<div th:fragment="navbar">
    <div class="navbar-inner">
        <div th:if="${#request.isUserInRole('ADMIN')}">
            <a class="brand pull-right" th:href="@{/admin/adduser}"> New
                User</a>
        </div>
        <a class="brand pull-right" th:href="@{/logout}"> Logout </a>
    </div>
</div>
</body>
</html>

<!--sec:authorize="hasRole('ROLE_ADMIN')-->